---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Toolbox" sideBarActiveItemID="toolbox">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Operations Research with PYOMO</div>
  </div>

  <HorizontalCard
    title="From Concrete to Abstract Model in PYOMO"
    img="/howto/from-concrete-to-abstract-model-in-pyomo.webp"
    desc="How to solve a simple problem with a concrete pyomo and translate it into an abstract model."
    url="https://colab.research.google.com/drive/1nbWywcn3S2QAiGMICRmly4cjzSrAExBb?usp=sharing"
    badge="PYOMO"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="PYOMO and Google Colab"
    img="/howto/pyomo-and-google-colab.webp"
    desc="How to use pyomo inside of google colab notebooks efficiently."
    url="https://colab.research.google.com/drive/1CAtflhRN0oKZoSDID4yoL2vl5AYMKNin?usp=sharing"
    badge="PYOMO"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Probabilistic Modelling with PYMC</div>
  </div>

  <HorizontalCard
  title="Convolve a distribution in PYMC"
  img="/howto/convolve-a-distribution-in-pymc.webp"
  desc="How to convolve a distribution in PYMC."
  url="https://colab.research.google.com/drive/1jc81nbB4CIQ3uaPZc0AHRs9I0KaSxjxS?usp=sharing"
  badge="PYMC"
  />

  <HorizontalCard
  title="Seasonality Component in PYMC"
  img="/howto/seasonality-component-in-pymc.webp"
  desc="How to create a seasonality component in PYMC."
  url="https://colab.research.google.com/drive/1s70MZoM6E0RXRHKvX_JqACiRMrb6rUrA?usp=sharing"
  badge="PYMC"
/>

  <HorizontalCard
    title="A&B Testing in PYMC"
    img="/howto/a-b-testing-in-pymc.webp"
    desc="How to do multivariate A&B Testing in PYMC."
    url="https://colab.research.google.com/drive/1hLE8WkkoDukm5lftmgNhfFFut7a-iTvq?usp=sharing"
    badge="PYMC"
  />



  

  

</BaseLayout>
